{
    "cache": "/root/cert",
    "vhosts": [
        {
            "domain": [
                "coba1.lekapin.com"
            ],
            "target": "http://127.0.0.1:8110",
            "basicAuth": {
                "username": "username",
                "password": "password"
            }
        },
        {
            "domain": [
                "test2.lekapin.com"
            ],
            "target": "http://127.0.0.1:8100"
        }
    ]
}